/* @import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100;200;300;500&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100;200;300;400&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100;200;300;400;600&display=swap'); */
html,
body {
    font-family: Overpass, sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #25333c;
    /* background-color: #e8e8f5; */
    transition: 0.3s;
}
/*====================================== reset.css is here ========================================*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {  transition: 0.3;}
table {	 transition: 0.2;}
fieldset,img {  transition: 0.2;}
address,caption,cite,code,dfn,em,strong,th,var { transition: 0.2;}
ol,ul {  transition: 0.2;}
caption,th { transition: 0.2;}
h1,h2,h3,h6 {	 transition: 0.2;}
q:before,q:after { transition: 0.2;}
abbr,acronym {  transition: 0.2;}
.clear{ transition: 0.2;}
header,nav,section,article,aside,footer,hgroup { transition: 0.2;}
::selection{ transition: 0.2; }
figure{  transition: 0.2;}
*{box-sizing:border-box;}
.border_radius5{
	border-radius: 5px;
}
/**************************************************************************************/
a											  { text-decoration:none; outline:0 none; cursor:pointer; color:#25333c; transition: 0.2;} 
a:hover									{ text-decoration:none;  transition: 0.2;}
h1											{  transition: 0.2; }
h2											{  transition: 0.2;}
h3											{  transition: 0.2;}
h4											{ transition: 0.2;}
h5											{  transition: 0.2; }
h6											{  transition: 0.2; }
input,textarea					{ outline:none;  transition: 0.2;}

.template-img{
    height: 350px;
    overflow: hidden;
    width: 100%;
    object-fit: cover;
    object-position: top;
}
.social-icons ul li{
    list-style: none;
    padding: 10px !important;
    margin: 0;
}
.social-icons ul li span{
    cursor: pointer;
}
ul{
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 0;
    margin-right: 16px !important;
}
.social-icons{
    justify-content: end;
    align-items: center;
    display: flex;
    padding: 0;
}
.accent-fg{
    color: #068543;
}
.template-img-container{
    padding: 16px 32px;
}
.fa{
    font-size: 20px;
}
.template-heading{
    display: block;
}
@media only screen and (max-width:960px){
    .heading-text{
        font-size: 18px;
        margin-top: 25px !important;
    }
    .template-heading{
        margin: 0 !important;
        margin-bottom: 16px !important;
    }
    .template-img-container{
        margin: 0 !important;
    }
    .template-img-container {
        padding: 16px 20px;
    }
}